*
{
    margin: 0;
    padding: 0;
}

.container {
   position: relative;
   width: 100%;
   height: 100vh;
   overflow: auto;
   scroll-snap-type: y mandatory;
}

.container .section {
    position: relative;
   width: 100%;
   height: 100%;
   background-blend-mode: multiply;
   scroll-snap-align: start;
}

.container .section:nth-child(1) {
    background: rgb(27, 29, 27) url(brick.png);
    background-size:cover;
    background-attachment: fixed;
    
}
    .container .section h1 {
        color: rgb(255, 255, 255);
        font-size: 80px;
        margin: 0;
        padding:0;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%)translateY(-50%);
        }


.container .section:nth-child(2) {
    background: rgb(255, 133, 216) url(splitcolor.png);
    background-size:cover;
    background-attachment: fixed;
}
.page2grid {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Text1 Text1 Text1 Text1"
      "boyimg Text2 Text2 girlimg"
      "boyimg Text3 Text3 girlimg"
      "Text4 Text4 Text4 Text4";
  }
  
  .Text2 { grid-area: Text2; }
  
  .Text3 { grid-area: Text3; }
  
  .girlimg { grid-area: girlimg; }
  
  .Text1 { grid-area: Text1; }
  
  .Text4 { grid-area: Text4; }
  
  .boyimg { grid-area: boyimg; }
  
  

  .p1 {
    color: white;
    text-align: center;
    font-size: 70px;
  }

  .p2 {
    color: white;
    text-align: center;
    font-size: 70px;
  }

  .p3 {
    color: white;
    text-align: center;
    font-size: 70px;
  }

  .p4 {
    color: white;
    text-align: center;
    font-size: 70px;
  }


    
.container .section:nth-child(3) {
    background: rgb(253, 255, 125) url(dividecopy.jpg);
    background-size:cover;
    background-attachment: fixed;
}

        .Page3grid {  display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "Text1 Text1 Text1 Text1 Text1 Text1"
              "Text2 Text2 Text2 Text2 Text2 Text2"
              "boyimg boyimg Text3 Text4 girlimg girlimg"
              "boyimg boyimg Text3 Text4 girlimg girlimg"
              "Text5 Text5 Text5 Text5 Text5 Text5";
          }
          
          .Text1 { grid-area: Text1; }
          
          .Text2 { grid-area: Text2; }
          
          .boyimg { grid-area: boyimg; }
          
          .Text3 { grid-area: Text3; }
          
          .Text4 { grid-area: Text4; }
          
          .girlimg { grid-area: girlimg; }
          
          .Text5 { grid-area: Text5; }

          .p11 {
            color: white;
            text-align: center;
            font-size: 50px;
          }
        
          .p22 {
            color: white;
            text-align: center;
            font-size: 50px;
          }
        
          .p33 {
            color: white;
            text-align: center;
            font-size: 50px;
          }
        
          .p44 {
            color: white;
            text-align: center;
            font-size: 50px;
          }

          .p55 {
            color: white;
            text-align: center;
            font-size: 50px;
          }
          

        
.container .section:nth-child(4) {
    background: rgba(129, 129, 129, 0.724) url(boxes.jpg);
    background-size:cover;
    background-attachment: fixed;
}

    .Page4grid {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "Text1 Empty1"
          "Text1 Empty1"
          "Empty2 Text2"
          "Empty2 Text2"
          "Text3 Text3";
      }
      
      .Text1 { grid-area: Text1; }
      
      .Empty1 { grid-area: Empty1; }
      
      .Empty2 { grid-area: Empty2; }
      
      .Text2 { grid-area: Text2; }
      
      .Text3 { grid-area: Text3; }
      
      .p111 {
        color: white;
        text-align: center;
        font-size: 80px;
      }
    
      .p222 {
        color: white;
        text-align: center;
        font-size: 80px;
      }
    
      .p333 {
        color: white;
        text-align: center;
        font-size: 50px;
      }
     

.container .section:nth-child(5) {
    background: rgb(102, 136, 164) url(Rain1.jpg);
      background-size:cover;
      background-attachment: fixed;
        }

        .Page5grid {  display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "Text1 Text1 Text1 Text1"
              "Space1 Door Door Space2"
              "Space1 Door Door Space2"
              "Text2 Text2 Text2 Text2"
              "Text3 Text3 Text3 Text3";
          }
          
          .Text1 { grid-area: Text1; }
          
          .Space1 { grid-area: Space1; }
          
          .Door { grid-area: Door; }
          
          .Space2 { grid-area: Space2; }
          
          .Text2 { grid-area: Text2; }
          
          .Text3 { grid-area: Text3; }
          
          .p1a {
            color: white;
            font-size: 90px;
            text-align: center;
          }

          .p2a {
            color: white;
            font-size: 60px;
            text-align: center;
          }

          .p3a {
            color: white;
            font-size: 40px;
            text-align: center;
          }

          .doortext {
            color: rgb(0, 0, 0);
            font-size: 60px;
            text-align: center;
          }

         .backDoor
{
  background-color: #333;
  position:relative;
  width:600px;
  height:700px;
  
  margin: 0 auto;
  margin-top:50px;
}

.door
{
  background-color: rgb(64, 51, 51);
  position:absolute;
  top:0px;
  left:0px;
  width:600px;
  height:700px;
 
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.doorOpen
{
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}


.container .section:nth-child(6) {
    background: rgb(208, 228, 148) url(sunshine.jpg);
    background-size:cover;
    background-attachment: fixed;
        }
        .container .section:nth-child(7) h1 {
            color: rgb(255, 255, 255);
            font-size: 50px;
                 }



